@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Serif", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ql-editor {
  min-height: 150px;
  color: black;
  background-color: white;
  font-family: serif;
}

* {
  box-sizing: border-box;
  color: #4a1e04;
}

input {
  background-color: #ffffff;
  color: #4a1e04;
}
